html, body, #viewDiv {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
h2 {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 99;
  background: white;
  padding: 6px 10px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  font-family: Arial, sans-serif;
}
